
  <h1 id="title">Games Play</h1>
  <h2 id="description">All new games are only in Games Play</h2>  

  <nav>
    <span><a class="login"  [ngStyle]="{'color':'white'}" routerLink="/login">Login</a></span>
    &nbsp;
   
    <span><a class="register" [ngStyle]="{'color':'white'}" routerLink="/register">Register</a></span>
    &nbsp;
   
    <span><a class="catalog" [ngStyle]="{'color':'white'}" routerLink="/catalog">Catalog</a></span>
    &nbsp;
   
    <span><a class="add" [ngStyle]="{'color':'white'}" routerLink="/add">Add Game</a></span>
    &nbsp;
   
    <span><a class="logout" [ngStyle]="{'color':'white'}" routerLink="/logout" (click)="Logout()">Logout</a></span>

  </nav>
  <router-outlet></router-outlet>


