#title{
    text-align: center;
    font-size: 60px;
    color: rgb(236, 168, 210);
    text-shadow: 2px 2px #b30e81;
    font-style: italic;
    font-weight: bold;
}

#description{
    text-align: center;
    font-size: 29px;
    color: aliceblue;
    font-style: italic;
}

nav{
    text-align: center;
    position: relative;
    top:-170px;
    left:800px;
}



a{
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    
}

a:hover{
   
    background-color:blue;
}

