<div *ngFor="let game of games; let i as index">
    <h2>{{game.title}}</h2>
    <span>{{categories[game.category]}}</span>
    <br>
    <img id="image" width="300px" height="300px" [src]="game.imageUrl">
    <br>
    <a [href]="game.gameLink"><button>Play</button></a>
    <br>
    <div style="color:azure; font-size: 18px;">{{game.summary}}</div>
    <br>
    <label>Comment: </label>
    <textarea name="comment" id="comment" cols="30" rows="3"></textarea>
    <button type="submit" (click)="publishComment(game.id!)">Comment</button>
    <br>
    <button type="submit" (click)="addLike(game)">Like</button>
    <br>
    <br>
    <button class="delete" type="submit" (click)="deleteGame(game.id!)">Delete</button>
    <br>
</div>
