#addGame{
    position: relative;
    top:60px;
    left: 800px;
}

form{
    border: 5px ridge rgb(175, 16, 135);
    width:490px;
    height:380px;
    background-color: rgb(88, 4, 63);
}

#submit{
    margin-left: 10px;
    font-size: 20px;
    padding: 5px 10px 5px 10px;
    background-color: pink;
}

#submit:hover{
    font-size: 23px;
}

#submit[disabled]:hover{
    font-size: 20px;   
}

label{
    color:white;
    margin-left: 5px;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
}

#summary{
    margin-left: 5px;
}

#titleAddGame{
    font-size: 30px;
    text-align: center;
    color:aqua;
}

#invalidTitle,#invalidTitleLength,#invalidGameLink{
    margin-left:5px;
    color: rgb(238, 107, 107);
    font-size: 18px;
    background-color: black;
}